<ion-nav-view title="KM">

	<link href="css/kmstyle.css" rel="stylesheet">

	<div id="kmheader" class="bar bar-header bar-balanced">
  		<h1 class="title">K.M</h1>
	</div>
	

	<div id="kmsearch" class="row">
  		<div class="col col-75">
		
		<div class="list">

  			<label class="item item-input item-select">
    				<div class="input-label">
      				select k.m radius
    				</div>
    			<select name="mySelect" ng-model="KmCtrl.kmsearch">
    				<!-- <option selected> </option> -->
     				<option value="15000">15</option>
      				<option value="25000">25</option>
      				<option value="35000">35</option>
      				<option value="45000">45</option>
    			</select>
  			</label>

		</div>
		
		<button ng-click="KmCtrl.clickeiei()"></button>

  		</div>
  		<div class="col">

			<a href="#/showmap" ng-click="KmCtrl.Set()"><button class="button icon ion-search"></button></a>

  		</div>
	</div>

	<!-- <tt> select val = {{KmCtrl.testval}} </tt> -->

</ion-nav-view>
