<ion-view view-title="Showmap">
	<ion-content class="has-header">
		<ion-pane>
	      <ion-content>

	    <!--   <a ng-click="ShowmapCtrl.testval()"><button class="button"></button> -->
	   
	           <div id="map" data-tap-disabled="true" ></div>

	           <button id = "go_mypos" ng-click='ShowmapCtrl.go_Mypos()' class="my_position">
				  <img src="./img/my_pos.png" alt ="mypos" style="height:20px;width:20px;"></img>
				</button>

	      </ion-content>
	    </ion-pane>
	</ion-content>
</ion-view>