.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: auto;
    margin: auto;
}


.my_position{
	border-radius: 5px;
	border:none;
	position: relative;
	bottom: 25%;
	float: right;
	right: 2%;
	background-color: white;
}

.card{
	width: 100%;
	height: auto;
	margin-bottom: 10%;
}
