div{
  text-align: center;
  /*border: 1px solid red;*/
}
.to_center_div{
  position: relative;
  left: 25%;
  top: 10%;
}
#outside{
  margin-top: 25%;
  margin-bottom: 25%;
  height: 75%;
  width: 100%;
}
.top_div{
  height: 25%;
  margin: 5%;
}
.mid_div{
  height: 25%;
  margin: 5%;
}
.bot_div{
  height: 25%;
  margin: 5%;
}

.search{
  margin: auto;
  width: 90%;
  color: #585858 ;
  display: block;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to right, #FFFF99 , #FFFFCC);
  border:1px solid #CCFFCC; 
  font-size: 22px;
  font-weight: bold;
  padding:5% 10%;
}

.push_button{
  /*position:relative;*/
  width:50%;
  color:#FFF;
  display:block;
  text-decoration:none;
  /*margin:0 auto;*/
/*  margin-left: 25%;
  margin-top: 15%;*/
  border-radius:5px;
  border:solid 1px #00CCFF;
  background:#0066FF;
  text-align:center;
  padding:20px 30px;
  
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
  
  -webkit-box-shadow: 0px 9px 0px #003366;
        -moz-box-shadow: 0px 9px 0px #003366;
        box-shadow: 0px 9px 0px #003366;
}

.push_button:active{
    -webkit-box-shadow: 0px 2px 0px #003366;
    -moz-box-shadow: 0px 2px 0px #003366;
    box-shadow: 0px 2px 0px #003366;
    position:relative;
    top:5px;
}