.to_center_div{
  position: relative;
  left: 25%;
  top: 10%;
}
#outside{
  margin-top: 25%;
  margin-bottom: 25%;
  height: 75%;
  width: 100%;
}
.top_div{
  height: 25%;
  margin: 5%;
}
.mid_div{
  height: 25%;
  margin: 5%;
}
.bot_div{
  height: 25%;
  margin: 5%;
}

.search{
  margin: auto;
  width: 90%;
  color: #585858 ;
  display: block;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to right, #FFFF99 , #FFFFCC);
  background: -moz-linear-gradient(left,  #FFFF99 , #FFFFCC); /* FF3.6+ */

  background: -webkit-gradient(linear, left, right, color-stop(#FFFF99), color-stop(#FFFFCC)); /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(left,  #FFFF99 , #FFFFCC); /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(left,  #FFFF99 , #FFFFCC); /* Opera 11.10+ */

  background: -ms-linear-gradient(left,  #FFFF99 , #FFFFCC); /* IE10+ */

  background: linear-gradient(to right,  #FFFF99 , #FFFFCC); /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFF99', endColorstr='#FFFFCC',GradientType=0 ); /* IE6-9 */

  border:1px solid #CCFFCC; 
  font-size: 22px;
  font-weight: bold;
  padding:5% 10%;

  -webkit-box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
  -moz-box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
  -ms-box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
  -o-box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
  box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
}

.push_button{
  /*position:relative;*/
  width:55%;
  height: 70%;
  color:#FFF;
  display:block;
  text-decoration:none;
  font-weight: bold;
  /*margin:0 auto;*/
/*  margin-left: 25%;
  margin-top: 15%;*/
  border-radius:5px;
  border:solid 1px #0099FF;
  background:#0066FF;
  text-align:center;
  padding:30px 30px;
  
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  
  -webkit-box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
  -moz-box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
  -ms-box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
  -o-box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
  box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
}

.push_button:active{
    -webkit-box-shadow: 0px 2px 1px #003366;
    -moz-box-shadow: 0px 2px 1px #003366;
    -ms-box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
    -o-box-shadow: 0px 9px 6px #003366, 0px 2px 2px white;
    box-shadow: 0px 2px 1px #003366;
    position:relative;
    bottom:5px;
}