#bg{
	background: linear-gradient(to bottom, #0066FF , #00FFFF);
	background-color: #0066FF;
}

#name{
	width: 75%;
	height:auto;
	margin-left: 13%;
	margin-bottom: 5%;

}

.rectcor {
    border-radius: 25px;
    border: none;
    padding: 20px; 
    width: 75%;
    height: 35%; 
    background-color: white;
}

.login{
	margin: auto;
	padding: auto;
    width: 75%;
}

#logo_pic{
	height: auto;
	width: 50%;
	margin-top: 10%;
	margin-left: 25%;
	margin-bottom: 5%;
}

.Loginbut{
	height: auto;
	width: 100%;
	font-family: play;
	font-weight: bold;
}

.Reg{
	height: auto;
	width: 100%;
	margin-top: 5%;
	font-family: play;
	font-weight: bold;

}

#Logoutbut{
	height: 20%;
	width: 50%;
	margin-left: 25%;
	background-color: #FF0033;
	border:none;
	font-family: play;
	color: white;
}

@font-face {
    font-family: "play";
    src: "./css/font/play/Play-Regular.ttf" format("truetype");
}