#bg{
	background: linear-gradient(to bottom, #0066FF , #00FFFF);
	background: -moz-linear-gradient(top,  #0066FF , #00FFFF); /* FF3.6+ */

	background: -webkit-gradient(linear, top, bottom, color-stop(#0066FF), color-stop(#00FFFF)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #0066FF , #00FFFF); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #0066FF , #00FFFF); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #0066FF , #00FFFF); /* IE10+ */

	background: linear-gradient(to bottom,  #0066FF , #00FFFF); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0066FF', endColorstr='#00FFFF',GradientType=0 ); /* IE6-9 */
}

#name{
	width: 75%;
	height:auto;
	/*margin-left: 13%;*/
	margin-bottom: 5%;

}

.rectcor {
    border-radius: 25px;
    border: none;
    padding: 20px; 
    width: 75%;
    height: 35%;
    background-color: white;
}

.login{
	margin: auto;
	padding: auto;
    width: 75%;
}

#logo_pic{
	height: auto;
	width: 50%;
	margin-top: 10%;
	margin-bottom: 5%;
}

.Loginbut{
	height: auto;
	width: 100%;
	font-family: play;
	font-weight: bold;
}

.Reg{
	height: auto;
	width: 100%;
	margin-top: 5%;
	font-family: play;
	font-weight: bold;

}

@font-face {
    font-family: "play";
    src: "./css/font/play/Play-Regular.ttf" format("truetype");
}