#logo_res{
    height: auto;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.restaurantImage{
    border-radius: 30px;
    border: 2px solid white;
    height: auto;
    width:90%;
    margin: 10px auto;
}

.content_box{
    width: 75%;
    height: auto;
    margin: auto;
}

.commentDisplay{
    height:140px;
    width:100%;
    overflow:auto;
    padding:2%;
    background-color: white;
    overflow: scroll;
}

.show_detail{
    display: block;
    width: 75%;
    height: auto;
    background-color: #66CCFF;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 5%;
}

.rating {
    display: inline-block;
    padding-right: 10px;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1.1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
/*    top:2px;
    left:2px;*/
}