<ion-view title="Restaurant-comment">
    <ion-content padding="'false'" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="button-bar">
            <a menu-close="" href="#/home/map/restaurant/info" class="button button-calm button-block  icon ion-information-circled"></a>
            <button class="button button-calm button-block  icon ion-compose"></button>
            <a menu-close="" href="#/map/restaurant/order" class="button button-calm button-block  icon ion-ios-telephone"></a>
        </div>
        <ion-list></ion-list>
        <ion-list>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="text" placeholder="Type comment">
            </label>
            <ion-item menu-close="">User1: อร่อย</ion-item>
            <ion-item menu-close="">User2 : อร่อยมากๆ</ion-item>
        </ion-list>
    </ion-content>
</ion-view>