<ion-view title="Restaurant-info">
    <ion-content padding="'false'" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="button-bar">
            <button class="button button-calm button-block  icon ion-information-circled"></button>
            <a menu-close="" href="#/map/restaurant/comment" class="button button-calm button-block  icon ion-compose"></a>
            <a menu-close="" href="#/map/restaurant/order" class="button button-calm button-block  icon ion-ios-telephone"></a>
        </div>
        <ion-list>
            <ion-item menu-close="">Rating : 10</ion-item>
        </ion-list>
        <div class="list card">
            <div class="item item-divider">Infomation</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>