<ion-view title="Restaurant-order">
    <ion-content padding="'false'" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div class="button-bar">
            <a menu-close="" href="#/home/map/restaurant/info" class="button button-calm button-block  icon ion-information-circled"></a>
            <a menu-close="" href="#/map/restaurant/comment" class="button button-calm button-block  icon ion-compose"></a>
            <button class="button button-calm button-block  icon ion-ios-telephone"></button>
        </div>
        <button class="button button-balanced button-block ">Website</button>
        <button class="button button-balanced button-block ">Call</button>
    </ion-content>
</ion-view>