<ion-view view-title="Login" hide-nav-bar="true" id="bg">
	<ion-content>
		<div>
			<img src="./img/joe.png" alt="logo" id="logo_pic"></img>
			<img src="./img/logoname.png" alt="name" id = "name">
		</div>


		<div ng-show = "!LoginCtrl.getUserStatus()" class="login rectcor">
		  <form ng-submit="LoginCtrl.login()">

		  	<div class="list">
			  <label class="item item-input">
			    <input type="text" name="username" placeholder="Username" ng-model="LoginCtrl.loginForm.username"required>
			  </label>
			  <label class="item item-input">
			    <input type="password" name="password" placeholder="Password" ng-model="LoginCtrl.loginForm.password" required>
			  </label>
			</div>

		    <div>
		        <button type="submit" ng-disabled="LoginCtrl.disabled" class="button button-small button-positive Loginbut">Sign in</button>
		    </div>

		    <a href="#/register"><button class="button button-small button-balanced Reg">Sign up</button></a>


		  </form>
		</div>


		<div ng-show = "LoginCtrl.getUserStatus()">
			<button ng-show = "LoginCtrl.getUserStatus()" ng-click='LoginCtrl.logout()' id="Logoutbut">Sign out</button>
		</div>
	
	</ion-content>
</ion-view>