<ion-view title="Login" hide-nav-bar="true" id="bg">
	<ion-content padding="'true'" class="has-header" style="text-align: center;" >
		<div style="margin-bottom:15%;margin-top:20%;">
			<img src="./img/joe.png" alt="logo" style="width:50%;height:auto;"></img>
		</div>

		<div ng-if="LoginCtrl.spinnerIsActive">
			<ion-spinner class="android"></ion-spinner>
		</div>
		<div ng-if="LoginCtrl.errorMessage" style="color:red">
			{{LoginCtrl.errorMessage}}
		</div>

		<div ng-if="!LoginCtrl.getUserStatus()">
			<div ng-if="!LoginCtrl.registerFormIsActive" style="width:75%;margin:auto;">
				<form class="list" ng-submit="LoginCtrl.login()">
		            <ion-list list-inset>
		                <label class="item item-input">
		                    <input type="text" name="username" placeholder="Username" ng-model="LoginCtrl.loginForm.username" required>
		                </label>
		                <label class="item item-input">
		 				    <input type="password" name="password" placeholder="Password" ng-model="LoginCtrl.loginForm.password" required>
		 				</label>
		            </ion-list>

		            <button type="submit" ng-disabled="LoginCtrl.disabled" class="button button-small button-calm Loginbut">Sign in</button>

		            <a menu-close="" ng-disabled="LoginCtrl.disabled" href="#/signup"class="button button-balanced button-clear button-block ">Or create an account</a>
	        	</form>
			</div>
		</div>
	</ion-content>
</ion-view>